@page 
@model TerraAquire.Web.Pages.Manage.Trippings
@{
}

<form method="POST">
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    <div class="form-group">
        <label asp-for="Data.DateTime!">Make</label>
        <input type="text" class="form-control" id="make" aria-describedby="datetimeMakeHelp" placeholder="Enter make" asp-for="Data.DateTime!">
    </div>
    <div class="form-group">
        <label asp-for="Data.DateTime!">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" aria-describedby="datetimeManufacturerHelp" placeholder="Enter manufacturer" asp-for="Data.DateTime!">
    </div>
    <div class="form-group">
        <label asp-for="Data.DateTime!">Year</label>
        <input type="text" class="form-control" id="year" aria-describedby="datetimeYearHelp" placeholder="Enter year" asp-for="Data.DateTime!">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="~/manage/trippings" class="btn btn-secondary">Back</a>
</form>