@page "/manage/house-models"
@model TerraAquire.Web.Pages.Manage.HouseModels.Index
@{
}

<h2>House Models</h2>
<a href="~/manage/house-models/create" class="btn btn-success">Create New</a>
@{
    if (Model.HouseModels != null)
    {
        
        if (Model.HouseModels.IsActive == true)
        {
            <a href="~/manage/house-models?isActive=false" class="btn btn-success">View Inactive</a>
        }
        else
        {
            <a href="~/manage/house-models?isActive=true" class="btn btn-success">View Active</a>
        }

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var houseModel in Model.HouseModels.Items)
                    {
                        <tr>
                            <th scope="row">@houseModel.Name</th>
                            <td><a href="~/manage/house-models/update/@houseModel.Id" class="btn btn-secondary">Update</a></td>
                            <td>
                                @{
                                    if (houseModel.IsActive == true)
                                    {
                                        <a href="~/manage/house-models/delete/@houseModel.Id" class="btn btn-danger">Delete</a>
                                    }
                                    else
                                    {
                                        <a href="~/manage/house-models/restore/@houseModel.Id" class="btn btn-success">Restore</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
               }           
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @{
                    if (Model.HouseModels.PageIndex > 1)
                    {
                        <li class="page-item"><a class="page-link" href="~/manage/house-models?isActive=@(Model.HouseModels.IsActive)&pageIndex=@(Model.HouseModels.PageIndex-1)&pageSize=@(Model.HouseModels.PageSize)">Previous</a></li>
                    }
                }
                <li class="page-item"><a class="page-link" href="">@Model.HouseModels.PageIndex of @Model.HouseModels.PageCount</a></li>
                @{
                    if (Model.HouseModels.PageCount > Model.HouseModels.PageIndex)
                    {
                        <li class="page-item"><a class="page-link" href="~/manage/house-models?isActive=@(Model.HouseModels.IsActive)&pageIndex=@(Model.HouseModels.PageIndex+1)&pageSize=@(Model.HouseModels.PageSize)">Next</a></li>
                    }
                }
            </ul>
        </nav>
    }
}